#friends-display-link {
  text-align: center;
  display: block;
  background-color: rgba(193, 98, 4, 0.835);
  padding: 15px 0px;
  margin-bottom: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -13px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
  font-size: 18px;
  margin: 0px 8px;
}

.friends-main {
  padding: 0px var(--horizontal-space);
}

.friends-main__channel {
  margin-top: 22px;
  /* border: dashed; */
  border-top: var(--divining-border);
  padding-top: 15px;
}

.friends-main__channel-header {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: white;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  animation: hideSplashScreen 0.2s ease-in-out forwards;
  animation-delay: 1s;
}

#splash-screen img {
  height: 400px;
  width: 400px;
}

.friends-main__channel-header i {
  cursor: pointer;
}
